apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptime-kuma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uptime-kuma
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      containers:
        - name: uptime-kuma
          image: louislam/uptime-kuma:1
          ports:
            - containerPort: 3001
          resources:
            requests:
              cpu: "100m"
              memory: "245Mi"
            limits:
              cpu: "250m"
              memory: "512Mi"
          volumeMounts:
            - mountPath: /app/data
              name: uptime-kuma-storage
      restartPolicy: Always
      volumes:
        - name: uptime-kuma-storage
          persistentVolumeClaim:
            claimName: uptime-kuma-pvc
